@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=REM:ital,wght@0,100..900;1,100..900&display=swap');



.postcontainer{
    
    
    font-family: Arial;
}

.postvalues{
    padding: 10px 20px 0 20px;
}

.postcontainer:hover:not(:has(.sharecontent:hover)){
    background-color: var(--background-contrast1);
}

.postinfo{
    display: flex;
    align-items: center;
    
}

.postuserinfo{
    flex:1;
    display: flex;
    align-items: center;
    gap:10px;
}

.postprofilepicture{
    height: 3rem;
    width:  3rem;
    border-radius: 25px;
}

.postusername{

}

.postbasicinfo{
    flex:1;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.postdate{
    
}

.sharecontent{
    background-color: var(--background-color);
    border: 2px var(--background-contrast3) solid;
    border-radius: 5px;
}

.postcontent{
    padding: 20px 0 20px 0;
}

.postuseroptions{
    
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    gap: 2px;
    background-color: var(--background-contrast3);
    height: 30px;
}

.postuseroptions li{
    
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 10rem;
    gap: 10px;
    background-color: var(--background-color);
    border-top: 2px var(--background-contrast3) solid;
    border-bottom: 2px var(--background-contrast3) solid;
}

.postuseroption{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 10px;
    color: var(--font-color1);
    background-color: var(--background-color) ;
    border-style: none;
    color: inherit;
}

.postuseroptionmarked{
    background-color: var(--background-contrast2);
}

.postuseroption:hover{
    background-color: var(--background-contrast2);
}