
.menubg{
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    font-family: inherit;
    background: var(--round-menu-color);
    border-radius: 16px;
    box-shadow: 0 4px 30px var(--navbar-shadow-color);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    /*border: 1px solid rgba(255, 255, 255, 1);*/
    position: absolute;
    right: 0;
}