
.findcentercontainer{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.contenttitle{
    min-width: 40rem;
    border-bottom: 2px var(--background-contrast3) solid;
    font-size: 15pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    padding: 20px;
}