@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=REM:ital,wght@0,100..900;1,100..900&display=swap');

.home{

}

.panels{
    display: flex;
    justify-content: center;
}

.contentpanel
{
    display: flex;
    flex-direction: column;
    width: 40rem;
}


.navbar_foryou, .navbar_followed{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--font-color1);
    background-color: var(--background-contrast);
    border-style: none;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 12pt;
    
}

.navbar_foryou
{

    border-bottom: 2px solid var(--primary-color);
    margin-bottom: -2px;
}

.navbar_foryou:hover{
    cursor: pointer;
    background-color: var(--highlight2);
}

.navbar_foryou_selected{
    background-color: var(--highlight4);
}

@media screen and (max-width: 750px){
    .panels{
    }
    
    .contentpanel
    {
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
}