.profile{

}

.panels{
    display: flex;
    justify-content: center;
}

.profilecontainer{
    border-bottom: 2px var(--background-contrast3) solid;
    
    font-family: Arial;
    min-width: 40rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.profilepicture{
    padding: 20px 0 0 0;
}

.profilepicture img{
    border-radius: 50%;
    border: 4px var(--background-contrast3) solid;
}

.profilestats{
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Poppins;
    font-weight: 400;
    
}
.profilestats a{
    text-decoration: none;
    color: var(--font-color1);
}
.profilestats a:hover{
    text-decoration:underline;
}

.statcontainer{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;  
}



.profileoptions{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 2px;
    margin: 20px 0 20px 0;
    justify-content: space-around;
}

.profileoptions a{
    color: var(--highlight3);
    text-decoration: none;
}
.profileoptions a:hover{
    text-decoration: underline;
}

.profileoption{
    flex:0.2;
    height: 40px;
    border-radius: 20px;
    border-style: none;
    padding: 5px 20px 5px 20px;
    font-family: Poppins;
    font-weight: 700;
    background-color: var(--font-color1);
    
}
.profileoption:hover{
    background-color: var(--font-color3);
    cursor: pointer;
}



.contentpanel
{
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    z-index: 20;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    

}

.profilenotexists{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centercontent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: var(--font-color1);
}

.centercontent:hover{
    text-decoration: underline;
    
}