.profile{

}

.panels{
    display: flex;
    justify-content: center;
}

.profilecontainer{
    border-bottom: 2px var(--background-contrast3) solid;
    
    font-family: Arial;
    min-width: 40rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.profilepicture{
    padding: 20px 0 0 0;
}

.profilepicture img{
    border-radius: 50%;
    border: 4px var(--background-contrast3) solid;
}

.profilestats{
    padding: 10px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Poppins;
    font-weight: 400;
}

.statcontainer{
    display: flex;
    flex-direction: column;
}

.profileoptions{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--background-contrast3);
    gap: 2px;
}

.profileoption{
    flex:1;
    height: 40px;
    border-style: none;
    background-color: var(--background-color);
    color: var(--font-color1);
    border-top: 2px var(--background-contrast3) solid;
}

.profileoption:hover{
    background-color: var(--background-contrast1);
}

.contentpanel
{
    box-shadow: 0px 0px 10px 0px rgb(0, 0, 0);
    z-index: 20;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    

}

.profilenotexists{
    width: 100%;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centercontent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.centerusername{

}