:root {
    --navbar-color: rgba(255, 255, 255, 0.6);
    --navbar-color-solid: rgb(228, 228, 228);
    --navbar-search-button: rgba(197, 197, 197, 0.6);
    --navbar-shadow-color:rgba(0, 0, 0, 0.1);
    --postcreator-color: #f6f6f6;
    --background-color: #e5e5e5;
    --primary-color: #c50000;
    --round-menu-color: rgba(255, 255, 255, 0.9);
}
html, body, #root{
  margin: 0!important;
}
body{
  
  background-color: var(--background-color);
  color: var(--font-color1);
}